[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
click = "*"
tabulate = "*"
colorama = "*"
sqlalchemy = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.8"
